<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="appInfo" type="ch.mobi.mobitor.plugin.zaproxy.domain.ZaproxyInformation"*/-->
<!--/*@thymesVar id="svh" type="ch.mobi.mobitor.model.ScreenViewHelper"*/-->
<!-- lines above is to workaround: https://youtrack.jetbrains.com/issue/IDEA-132738 -->
<head></head>
<body>

	<span class="informationBlock zaproxyInformation" th:classappend="${svh.getCssClassForZaproxy(appInfo)}">
	<a th:href="${#vars.getVariable('mobitor.plugins.zaproxy.sq.baseUrl') + '/dashboard?id=' + appInfo.projectKey}" th:title="${appInfo.issueSummary}" th:target="_blank">
		<span class="fa fa-flag-o" ></span>
		<span class="metric" th:text="${appInfo.highestIssueNumber}" th:if="${appInfo.informationUpdated}"></span>
	</a>
	</span>

</body>
</html>
