<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="screen" type="ch.mobi.mobitor.domain.screen.DefaultScreen"*/-->
<!--/*@thymesVar id="pipeline" type="ch.mobi.mobitor.domain.screen.DefaultPipeline"*/-->
<!--/*@thymesVar id="screenConfigKey" type="java.lang.String"*/-->
<!--/*@thymesVar id="server" type="java.lang.String"*/-->
<!-- lines above is to workaround: https://youtrack.jetbrains.com/issue/IDEA-132738 -->

<head>
    <title th:text="'mobitor - Screen - Regeln'"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />
    <link href="../static/styles.css" th:href="@{styles.css}" rel="stylesheet" />
</head>
<body>
<h1 class="screenTitle">Regeln-Einhaltung für <th:block th:text="${server}" /></h1>

<p>
    &larr; <a th:href="@{/screen(key=${screen.configKey})}">back</a> to index.
</p>

<ul th:each="violatedType : ${pipeline.getViolatedTypes()}" th:if="${not pipeline.getRuleEvaluationSeverity().name().equals('TROPHY')}">
    <li>Regel-Verletzung bei: <th:block th:text="${violatedType}" />
        <ul th:each="ruleEvaluation : ${pipeline.getRuleEvaluations(violatedType)}">
            <li th:each="env : ${ruleEvaluation.affectedEnvironments}">
                <th:block th:each="msg : ${ruleEvaluation.getMessages(env)}">
                    <b><span th:text="${env}" />: </b>
                    <span th:text="${msg}" />
                </th:block>
            </li>
        </ul>
    </li>
</ul>

</body>
</html>
