<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="appInfo" type="ch.mobi.mobitor.plugin.liima.domain.LiimaInformation"*/-->
<!--/*@thymesVar id="svh" type="ch.mobi.mobitor.model.ScreenViewHelper"*/-->
<!-- lines above is to workaround: https://youtrack.jetbrains.com/issue/IDEA-132738 -->
<head></head>
<body>

<span class="informationBlock" th:classappend="${svh.getCssClassForServer(appInfo)}">

    <a th:href="${appInfo.liimaDeploymentWebUri}" target="_blank">
        <span class="liimaInformation" th:title="${'Version: ' + appInfo.version + ' / TrackingId: ' + appInfo.trackingId + ' / State: ' + appInfo.state}">Liima</span>
    </a>
</span>

</body>
</html>
