<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="appInfo" type="ch.mobi.mobitor.plugin.dwh.domain.EdwhDeploymentsInformation"*/-->
<!--/*@thymesVar id="svh" type="ch.mobi.mobitor.model.ScreenViewHelper"*/-->
<!-- lines above is to workaround: https://youtrack.jetbrains.com/issue/IDEA-132738 -->
<head></head>
<body>

<span class="informationBlock"
      th:classappend="${svh.getDwhDeploymentStatusCssClass(appInfo)}">

   <a th:href="@{/plugin/dwh/deployments(screen=${screen.configKey},env=${env},server=${pipeline.appServerName},application=${applicationName})}"
      class="fa fa-cubes">
    </a>

</span>

</body>
</html>